# Ignore scripts in package.json to prevent accidental execution of postinstall scripts
# This may cause some packages to not work correctly if they rely on postinstall scripts.
# WARNING: Only disable this if you explicity need a postinstall script to run.
ignore-scripts=true
# Require package versions to be at least 7 days old before npm will install them.
min-release-age=7
